body{background-color: black !important;
 color: aliceblue !important;
 
}
.logo img{
    position: absolute;
width: 90px;
height: 60px;

top: 0%;
left: 0%;

}
.encabezado1{
    margin-left: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   border: soli;
    width: 100%;
}
h1{
    font-family: "Eina01-Bold"
}


.encabezado{
    display: flex;
    justify-content: space-between;
    width: 95%;
    align-items: center;
}
.navegador{
  
    border-radius: 30px;
    width: 505px;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(38,38,38);
    font-family: "Eina01-Regular";
}
.botonlog{
    border: solid aliceblue;
    border-radius: 30px;
    height: 50px;
    width: 80px;
    background-color: black;
    color: aliceblue;

}
.botonsign{
    border: solid black;
    border-radius: 30px;
    height: 50px;
    width: 100px;
    background-color: rgba(255,160,39);


}
.boton button{
    text-decoration: none !important;
   border: none;
    width: 100px;
    height: 50px;
    text-align: center;
    background-color: rgba(38,38,38);;
    color: aliceblue;
    border-radius: 40px;
}
.boton:hover button{
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
color:black
}
.imagenes{

}

.Reluxe h1{
    position: absolute;
   
    font-family: 'Bungee Outline', cursive;
    font-size: 300px;
    left: 2%;
    top: 20%;
}


.img1{
    position: absolute;
    background-color: rgba(255,160,39);
    height: 500px;
    width: 500px;
    border-radius: 500px;
    left: 14%;
    top: 15%;
}
.img2{
    position: absolute;
    left: 33%;
    top: 15%;
    border-radius: 500px;
    height: 500px;
    width: 500px;
   
}
.img3{
    position: absolute;
    left: 38%;
    top: 9%;
    width: 500px;
    height: 500px;
    border-radius: 600px;
}


.tarjetas{
    margin-top: 600px;
    display: flex;
    align-items: center;
justify-content: space-around;
}

.letrae h2{
    position: absolute;
    font-family: 'Bungee Outline', cursive;
    height:-10000px  !important;
    font-size:300PX;
    left: 83%;
    top: 20%;
   
   
}
.letras{
position: absolute;
left: 15%;
top: 40%;
display: flex;

width: 1000px;
justify-content: space-between;

}
.parrafo1{
    color: aliceblue;
    margin-left: 50px;   
    position: absolute;
}
.flecha{
    position: absolute;
    top: -100%;
    left: 5%;
font-size: 40px;

}
.titulo1 h3{
   position: absolute;
   left: 35%;
   font-size: 100px;
   top: -60%;
   font-family: "Eina01-Bold";
}
.botonhow button{
    text-align: center;
    background-color: rgba(38,38,38) !important;
    color: aliceblue;
    border: none;
    width: 150px;
    height: 50px;
    border-radius: 40px;
}

.botonhow button:hover{
background-color: aliceblue !important;
color: black;
border-radius: 40px;

}

.botonlearn{
    border-radius: 30px;
    height: 60px;
    width: 160px;
    border: none;
    margin-right: 90px;
}
.circuloflecha{
    position: absolute;
    left: 92%;
    top: -15%;
    font-size: 50px;
}
.tarjetas1{
    background-color: rgba(38,38,38) !important;
    color: aliceblue !important;
    width: 350px;
    height: 185px !important;
}
.imgtarj{
    position: absolute;
    left: 50%;
width: 172px !important;
height: 183px;
}
.circulo{
    position: absolute;
    background-color: rgba(38,38,38);
    height: 100px;
    width: 200px;
    border-radius: 500px;
    left: 10%;

}
.imagencircular img{

    position: absolute;
    border-radius: 500px !important;
left: 100% ;
top: 91%;
    width: 100px;
    height: 100px;
}


.circle {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

.circle img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
}

.img1-1 {
    clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);
}

.img2-1{
    clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);

}

.circulotarj{
    position: absolute;
    left: 33%;
    top: 5%;
}

.parrafotarj{
position: absolute;
top: 12%;
left: 0%;
width: 250px !important;
}
.botonexplore{
    border: solid aliceblue;
    border-radius: 30px;
    height: 50px;
    width: 80px;
    background-color: rgba(38,38,38);
    color: aliceblue;
}

.iconos1{
position: absolute;
top: 35%;
left: 96%;
display: flex;
flex-direction: column;
justify-content: space-around;
height: 120px;

}

.iconos2{
    position: absolute; 
    top: 35%;
    left: 0%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 120px;
}

.icono {
height: 40px;
width: 40px !important;
border-radius: 100px;
text-align: center;
color: white;
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
background-color:rgba(38,38,38) ;
}